// colors
$bth-gradient: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
$bth-gradient-2: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);

$white: #fff;
$border-color: rgba(#fff, 0.3);
$white-opacity: rgba(#fff, 0.25);

$body-color: #000;
$black: #121212;

$error-color: #cb0e0e;

$gray: #f3faf7;
$purple: #843465;

$blue: #143861;
